<!-- #region Footer -->

<footer class="page-footer">
  <div class="footer-container container">
    <div class="footer-main-part">
      <div class="footer-logo-cont">
        <!-- Logo -->
        <div class="footer-logo">
          <a href="index.html" class="logo">
            <svg class="logo-icon logo-icon-shape" width="16" height="16">
              <use href="img/sprite.svg#icon-logo"></use>
            </svg>
            <svg class="logo-icon logo-icon-text" width="146" height="12">
              <use href="img/sprite.svg#logo-text"></use>
            </svg>
          </a>
        </div>
        <!-- Reason -->
        <p class="footer-text">
          Whether you're looking for a healthy&nbsp; snack or a thoughtful gift,
          our fruit baskets&nbsp;are the perfect&nbsp; choice.
        </p>
      </div>
      <div class="footer-contacts-cont">
        <!-- Navigation -->
        <div class="nav-footer">
          <ul class="nav-footer-list">
            <li class="nav-footer-item">
              <a class="nav-footer-link" href="#how-it-works"
                >how&nbsp;it&nbsp;works</a
              >
            </li>
            <li class="nav-footer-item">
              <a class="nav-footer-link" href="#vegetables">vegetables</a>
            </li>
            <li class="nav-footer-item">
              <a class="nav-footer-link" href="#reviews">reviews</a>
            </li>
          </ul>
        </div>
        <!-- Adress -->
        <address class="contacts">
          <ul class="contacts-list">
            <li class="contacts-item">
              <a class="contacts-link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="contacts-item">
              <a
                class="contacts-link"
                href="https://www.google.com/maps?q=1678+S.+Pioneer+Road+Salt+Lake+City+UT+84104"
                target="_blank"
              >
                1678 S. Pioneer Road, Salt Lake&nbsp;City, UT 84104
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <!-- Privacy policy -->
    <div class="privacy-policy-cont">
      <div class="privacy-policy-items">
        <a class="privacy-policy-link" href="/">Privacy Policy</a>
        <span class="privacy-policy-span">/</span>
        <a class="privacy-policy-link" href="/">Cookie settings</a>
      </div>
      <div class="copyright">
        <p class="copyright-name">©Green Harvest 2023</p>
      </div>
    </div>
  </div>
</footer>
<!-- #endregion Footer -->
