<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="/" class="logo header-logo">
        <svg class="logo-icon logo-icon-shape" width="16" height="16">
          <use href="img/sprite.svg#icon-logo"></use>
        </svg>
        <svg class="logo-icon logo-icon-text" width="146" height="12">
          <use href="img/sprite.svg#logo-text"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="" class="header-nav-link">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-button" type="button">Shop now</button>
    <button class="header-burger-button" type="button">
      <svg class="header-burger-button-icon" width="21.33" height="16">
        <use href="img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
