<div class="modal-overlay">
  <div class="modal">
    <button class="mdl-bttn" type="button">
      <svg class="svg-bttn">
          <use href="../img/sprite.svg#icon-close-x"></use>
      </svg>
    </button> 
    <div class="mdl-dv">
      <nav class="mdl-nv">
        <ul class="nv-lst">
          <li><a href="#how-it-works" class="nv-lnk">How It Works</a></li>
          <li><a href="#vegetables" class="nv-lnk">Vegetables</a></li>
          <li><a href="#reviews" class="nv-lnk">Reviews</a></li>
        </ul>
      </nav>
      <button class="mdl-bttnn" type="button">Shop now</button>
    </div>
  </div>
</div>