<section class="vegetables-section">
  <div class="container">
    <h2 class="vegetables-subject">ORGANIC <span class="part-subject">VEGETABLES</span></h2>
      <p class="vegetables-text">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
        <ul class="vegetables-list">
          <li class="vegetables-items">
            <h3 class="vegetables-items-text">EGGPLANT</h3>
              <p class="vegetables-price">60 USD / kg</p>
              <!-- desktop -->
              <picture>
                <source media="(min-width: 1280px)" srcset="/img/eggplant-desktop@1x.jpg 1x,
                                                            /img/eggplant-desktop@2x.jpg 2x">
            <!-- tablet-->
                <source media="(min-width: 768px)" srcset="/img/eggplant-tablet@1x.jpg 1x,
                                                           /img/eggplant-tablet@2x.jpg 2x">   
            <!-- mobile-->
             <source media="(min-width: 320px)" srcset="/img/eggplant-mobile@1x.jpg 1x,
                                                        /img/eggplant-mobile@2x.jpg 2x">
                <img class="vegetables-picture" src="/img/eggplant-mobile@1x.jpg" alt="eggplant" width="280px" height="240px">
                </picture>
          </li>
          <li class="vegetables-items">
            <h3 class="vegetables-items-text">LEEK</h3>
              <p class="vegetables-price">50 USD / kg</p>
              <!-- desktop -->
              <picture>
                <source media="(min-width: 1280px)" srcset="/img/leek-desktop@1x.jpg 1x,
                                                            /img/leek-desktop@2x.jpg 2x">
            <!-- tablet-->
                <source media="(min-width: 768px)" srcset="/img/leek-tablet@1x.jpg 1x,
                                                           /img/leek-tablet@2x.jpg 2x">   
            <!-- mobile-->
             <source media="(min-width: 320px)" srcset="/img/leek-mobile@1x.jpg 1x,
                                                        /img/leek-mobile@2x.jpg 2x">
                <img class="vegetables-picture" src="/img/leek-mobile@1x.jpg" alt="leek" width="280px" height="240px">
                </picture>
          </li>
          <li class="vegetables-items">
            <h3 class="vegetables-items-text">MUSHROOMS</h3>
              <p class="vegetables-price">40 USD / kg</p>
              <!-- desktop -->
              <picture>
                <source media="(min-width: 1280px)" srcset="/img/mushrooms-desktop@1x.jpg 1x,
                                                            /img/mushrooms-desktop@2x.jpg 2x">
            <!-- tablet-->
                <source media="(min-width: 768px)" srcset="./img/mushrooms-tablet@1x.jpg 1x,
                                                           ./img/mushrooms-tablet@2x.jpg 2x">   
            <!-- mobile-->
             <source media="(min-width: 320px)" srcset="/img/mushrooms-mobile@1x.jpg 1x,
                                                        /img/mushrooms-mobile@2x.jpg 2x">
                <img class="vegetables-picture" src="/img/mushrooms-mobile@1x.jpg" alt="mushrooms" width="280px" height="240px">
                </picture>
          </li>
          <li class="vegetables-items">
            <h3 class="vegetables-items-text">CORN</h3>
              <p class="vegetables-price">60 USD / kg</p>
              <!-- desktop -->
                    <picture>
                        <source media="(min-width: 1280px)" srcset="/img/corn-desktop@1x.jpg 1x,
                                                                    /img/corn-desktop@2x.jpg 2x">
                    <!-- tablet-->
                        <source media="(min-width: 768px)" srcset="./img/corn-tablet@1x.jpg 1x,
                                                                   ./img/corn-tablet@2x.jpg 2x">   
                    <!-- mobile-->
                     <source media="(min-width: 320px)" srcset="/img/corn-mobile@1x.jpg 1x,
                                                                /img/corn-mobile@2x.jpg 2x">
                <img class="vegetables-picture" src="/img/corn-mobile@1x.jpg" alt="corn" width="280px" height="240px">
                </picture>
          </li>
          <li class="vegetables-items">
            <h3 class="vegetables-items-text">SWEET POTATOES</h3>
              <p class="vegetables-price">50 USD / kg</p>
              <!-- desktop -->
                    <picture>
                        <source media="(min-width: 1280px)" srcset="/img/sweet-potato-desktop@1x.jpg 1x,
                                                                    /img/sweet-potato-desktop@2x.jpg 2x">
                    <!-- tablet-->
                        <source media="(min-width: 768px)" srcset="./img/sweet-potato-tablet@1x.jpg 1x,
                                                                   ./img/sweet-potato-tablet@2x.jpg 2x">   
                    <!-- mobile-->
                     <source media="(min-width: 320px)" srcset="/img/sweet-potato-mobile@1x.jpg 1x,
                                                                /img/sweet-potato-mobile@2x.jpg 2x">
                <img class="vegetables-picture" src="/img/sweet-potato-mobile@1x.jpg" alt="sweet potatoes" width="280px" height="240px">
                </picture>
            </li>
            <li class="vegetables-items">
              <h3 class="vegetables-items-text">CARROT</h3>
                <p class="vegetables-price">40 USD / kg</p>
                <!-- desktop -->
                    <picture>
                        <source media="(min-width: 1280px)" srcset="/img/carrot-desktop@1x.jpg 1x,
                                                                    /img/carrot-desktop@2x.jpg 2x">
                    <!-- tablet-->
                        <source media="(min-width: 768px)" srcset="./img/carrot-tablet@1x.jpg 1x,
                                                                   ./img/carrot-tablet@2x.jpg 2x">   
                    <!-- mobile-->
                     <source media="(min-width: 320px)" srcset="/img/carrot-mobile@1x.jpg 1x,
                                                                /img/carrot-mobile@2x.jpg 2x">
                  <img class="vegetables-picture" src="/img/carrot-mobile@1x.jpg" alt="carrot" width="280px" height="240px">
                  </picture>
            </li>
        </ul>
      </div>
</section>
