.hero {
  background-color: #576f35;
}

.hero .container {
  padding: 0;
  max-width: 100%;
}

.hero-content {
  padding: 100px 20px 40px;
  max-width: 335px;
}

.hero-title {
  font-weight: 600;
  line-height: 1;
  font-size: 12vw;
  letter-spacing: -1.5%;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
  max-width: 335px;
}

.hero-image {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 370px;
}

@media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-image {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero .container {
    max-width: 768px;
  }

  .hero-content {
    padding: 122px 32px 50px;
    max-width: 768px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
  }

  .hero-text {
    font-size: 16px;
    max-width: 603px;
  }

  .hero-image {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero-tablet@1x.jpg);
    min-height: 539px;
  }

  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-image {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../img/hero-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero .container {
    max-width: 1280px;
  }

  .hero-content {
    padding: 238px 28px 50px 100px;
    max-width: 630px;
  }

  .hero-inner {
    display: flex;
    flex-direction: row;
    height: 796px;
  }

  .hero-title {
    margin-bottom: 128px;
  }

  .hero-text {
    max-width: 472px;
  }

  .hero-image {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero-desktop@1x.jpg);
    background-size: cover;
    min-width: 50%;
    height: 796px;
  }

  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-image {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../img/hero-desktop@2x.jpg);
    }
  }
}
