.vegetables-section{
    padding: 80px 0;

    background-color: #7a3145;
}

@media only screen and (min-width: 768px) {
    .vegetables-section{
        padding: 100px 0;
    }
}

.vegetables-subject{
    max-width: 335px;
    height: 104px;

    margin-bottom: 20px;
    text-align: left;

    font-weight: 600;
    font-size: 48px;
    line-height: 1.08333;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
}

@media only screen and (min-width: 768px){
    .vegetables-subject{
        max-width: 508px;
        height: 128px;

        margin-bottom: 24px;

        font-size: 64px;
        line-height: 1;
    }
}

.part-subject{
    color: #d4bfc4;
}

.vegetables-text{
    max-width: 335px;
    height: 80px;

    text-align: left;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
}

@media only screen and (min-width: 768px){
    .vegetables-text{
        max-width: 626px;
        height: 40px;
    }
}

.vegetables-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    padding: 40px 0;
}

@media only screen and (min-width: 768px){
    .vegetables-list{
        padding: 52px 0;
    }
}

.vegetables-items{
    max-width: 335px;
    max-height: 376px;

    border-radius: 40px;
    padding: 32px 24px;

    background-color: #fbfbfb;
}

@media only screen and (min-width: 768px){
    .vegetables-items{
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1280px){
    .vegetables-items{
        width: calc((100% - 24px) / 3);
    }
}

.vegetables-items-text{
    margin-bottom: 12px;

    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #7a3145;
}

.vegetables-price{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #141414;
}

.vegetables-picture{
    padding-top: 12px;
}