.order-section {
  background-color: #576f35;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .order-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.order-text-box {
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .order-text-box {
    padding-right: 64px;
    margin-bottom: 52px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-text-box {
    padding-right: 0;
    max-width: 751px;
  }
}

.order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .order-title {
    line-height: 1;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-title {
    font-size: 64px;
  }
}
.accent-text-pink {
  color: #d4bfc4;
}
.order-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: #fbfbfb;
}
@media only screen and (min-width: 768px) {
  .order-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 768px) {
  .order-content-wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    min-width: 1080px;
    min-height: 592px;
    gap: 32px;
    padding: 0;
  }
}

.order-form {
  border-radius: 30px;
  padding: 40px 20px;
  max-width: 335px;
  min-height: 552px;
  background: #fbfbfb;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .order-form {
    border-radius: 30px;
    padding: 72px 100px;
    max-width: 640px;
    min-height: 632px;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .order-form {
    border-radius: 30px;
    padding: 52px 48px;
    min-height: unset;
    flex-basis: calc(50% - 16px);
    margin-bottom: 0;
  }
}

.form-description {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .form-description {
    font-size: 32px;
    margin-bottom: 52px;
  }
}

.accent-text-red {
  color: #7a3145;
}
.accent-text-green {
  color: #576f35;
}

.form-field {
  border: 1px solid #858585;
  border-radius: 30px;
  padding: 16px;
  min-width: 100%;
  background-color: transparent;
}

.form-input {
  height: 48px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .form-input {
    height: 52px;
  }
}

.form-input::placeholder,
.form-textarea::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  text-align: left;
  color: #141414;
}

.form-textarea {
  height: 92px;
  border-radius: 15px;
  resize: none;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .form-textarea {
    height: 96px;
    margin-bottom: 24px;
  }
}

.form-input:focus,
.form-input:active,
.form-input:hover,
.form-textarea:focus,
.form-textarea:active,
.form-textarea:hover {
  border: 1px solid #7a3145;
  outline: none;
  cursor: pointer;
}
.form-input:not(:placeholder-shown):invalid {
  border: 1px solid #e74a3b;
}

.form-input:not(:placeholder-shown):valid {
  border: 1px solid #3cbc81;
}

.order-btn {
  border-radius: 30px;
  min-width: 100%;
  height: 52px;
  background: #7a3145;
  border: none;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  cursor: pointer;
}

.order-btn:hover,
.order-btn:focus,
.order-btn:active {
  background-color: #d4bfc4;
  color: #7a3145;
}

.order-socials-wrapper {
  padding: 40px 20px;
  background: #7a3145;
  border-radius: 30px;
}
@media only screen and (min-width: 768px) {
  .order-socials-wrapper {
    padding: 52px;
    max-width: 640px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-socials-wrapper {
    padding: 52px 48px;
  }
}
.order-socials-img {
  border-radius: 15px;
  background: rgba(20, 20, 20, 0.2);
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .order-socials-img {
    width: 536px;
    height: 316px;
    margin-bottom: 52px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-socials-img {
    width: 428px;
    height: 352px;
    margin-bottom: 80px;
  }
}

.socials-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  color: #d4bfc4;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .socials-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

.socials-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .socials-list {
    gap: 12px;
  }
}

.socials-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.socials-link:focus,
.socials-link:hover,
.socials-link:active {
  color: #d4bfc4;
  cursor: pointer;
}
